/* Root typography settings */
html{
/*   set the following properties: 
  font-size - this will be the base font size for the site
  font-family - this will be the base font-family for the site
  line-height - base line height, generally should be in the range 1.5-1.8 
  color- primary text color for the site
  background-color - primary background color for the site */
font-size: 20px;
font-family: josefin sans, sans-serif;
line-height: 1.6;
color: #B2F4FB;
background-color: #E66EB2;
  
}

/* General heading styles set font styles for all of your headings, for example font-weight, line-height, font-family */
h1, h2, h3, h4, h5, h6{
  
  font-family: josefin slab;
  font-size: 40px;
  font-weight: normal;
  line-height: 1.2;
}

/* Specific element text styles */
p{
  font-size: 20px;
  margin-bottom: 1rem;
  /*   this is the page title */
}

h1 {
  font-family: Sacramento, cursive;
  font-size: 60px;
  margin-bottom: 1rem;
  font-weight: bold;
}

h2 {
  font-size: 60px;
  margin-bottom: 1rem;
  font-family: josefin slab, sans-serif;
  font-weight: 900;
}

ul, li{
  font-size: 20px;
  margin-bottom: 1rem;
  font-family: orbitron, sans-serif;
}

a:link{
  font-size: 30px;
  font-family: wendy one, sans-serif;
}

a:hover{
  color: #44DC4D;
  text-decoration: underline;

   /* optional but usually good to have a space between paragraphs */
}

a:visited{
  color: #D9C8B0;
}

/* -------------  Header styles ------------------------- */
header {
  display: flex;
  justify-content: space-between; /* site title left, nav right */
  align-items: center;           /* vertical centering */
  padding: 1rem;
  background-color: #0047E0;
}

/* Styles the site title at the top of the header */
.site-title {
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  list-style: none;   /* remove bullets */
  margin: 0;
  padding: 0;
  display: flex;      /* horizontal layout for links */
  gap: 1rem;          /* space between items */
}

nav a {
  text-decoration: none;
  color: 
#333;
  font-weight: 500;
}

nav a:hover {
  color: 
#44DC4D; /* hover color */
}

/* ------------- END Header styles  */